.event-container {
  padding: 20px;
  width: 800px;
  text-align: center;
  margin: auto;
}

.groupname {
  width: 600px;
  padding: 20px;
  line-height: 2.375rem;
  font-size: 1.9814rem;
  position: relative;
  margin: 40px;
}

.event-content {
  line-height: 1.625rem;
  font-size: 0.9907rem;
  position: relative;
  word-wrap: break-word;
  text-align: left;
  padding-bottom: 5ch;
}

.icon {
  width: 2rem;
  height: 2rem;
}
.icon img {
  width: 100%;
  height: 100%;
} 

#toogle-save {
  cursor: pointer;
  border: none;
  border-radius: 1px;
  width: var(--width);
}


.caption {
  text-align: right;
}
.event-pic {
  text-align: center;
}

.save-container{
  width: 100%;
  text-align: right;
}

.save-container div{  
  display: inline-block;
  font-size: 0.8rem;
}


/* 
.rnd-btn {
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  margin: 0;
  color: rgb(22, 22, 22);
  box-shadow: inset 0 0 1px 2px rgba(105, 94, 94, 0.205);
  cursor: pointer;
  display: flex;
  float: right;
}

.rnd-btn:hover {
  background-color: rgba(245, 245, 245, 0.253);
  box-shadow: 0 0 2px 1px rgba(149, 32, 32, 0.25);
}

.rnd-btn img {
  width: 100%;
  height: 100%;
} */